#header{
    background-image:url("Image/destiny2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    padding-bottom: 5%;
}
body{
    background-image: url("Image/destcleanwhite.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
#section1{
    background-image: url("Image/destcleanwhite.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 8%;
}
.lien{
    margin-left: 0.5%;
    float: right;
    color: darkorange;
}

#buylogo{
    position: relative;
    margin-left: 20%;
}
#info{
    display: block;
    position: relative;
    margin-left: 20%;
}

#section2 p{
    margin-left: 5%;
    text-align: center;
    color: darkmagenta;
    font-family: "Arial Black";
    display: inline-block;
    cursor: Pointer;
    max-width: 25%;
}
#section4{
    margin-top: 10%;
    text-align: center;
}
footer{
    margin-top: 10%;
    background-color: lightgrey;
    text-align: center;
}

#pseudo{
    display: inline-block;
    margin-bottom: 1%;
    border-color: black;
}
#mdp{
    display: inline-block;
    border-color: black;
}

#bodyco{
    text-align: center;
    background-color: antiquewhite;
}
#sectionaide1{
    text-align: center;
    color : ivory;
    font-family: "Arial Black";
}

#sectionaide2{
    text-align: center;
    color : ivory;
    font-family: "Arial Black";
}
ul{
    color : ivory;
    font-family: "Arial Black";
    margin-left: 45%;
    max-width: 5% ;

}
#sectionaide3{
    text-align: center;
    color : ivory;
    font-family: "Arial Black";
}
#download{
    position: relative;
    margin-top: -10%;

}
#server{
    margin-left: 5%;
}

#logo{
    text-align: center;
    margin-left: 20%;
}

#shop{
    margin-left: 10%;
}
#menu{
    margin-left: 5%;
}

form input{
    text-align: center;
    color: darkred;
    border-style: solid;
    border-width: 2px;
    border-color: black;

}